/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* CSS Variables */

:root {
    --heading-font: "Space Mono", monospace;
    --game-font: "Bitcount Prop Single", sans-serif;
    --background-color: #eae6e5; /* Platinum */
}

/* Global Styles */

#heading-font {
    font-family: var(--heading-font);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

body > h1 {
    font-size: 4rem;
    text-align: center;
}

#startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  #startGameButton {
    font-family: var(--game-font);
    font-size: 4rem;
    padding: 40px 80px;
    border: 5px solid #333;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  #escapeDungeonContainer {
    display: none;
  }

  .error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }